:root {
  /* Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);

  /* Font families */
  --ff-primary: "Red Hat Display", sans-serif;

  /* Font weights */
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

/* CSS Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

/* Mainstyle */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: var(--ff-primary);
  line-height: 1.6;
  padding: 2rem;
  background-color: var(--pale-blue);

  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  max-width: 450px;
  text-align: center;
  border-radius: 1.5rem;
  background-color: var(--white);
  box-shadow: 3px 2px 20px -7px var(--desaturated-blue),
    5px 8px 20px -7px var(--pale-blue);
}

.content {
  padding: 2.5rem 2rem;
}

.card-img > svg {
  border-radius: 1.5rem 1.5rem 0 0;
}

.heading {
  font-size: 1.625rem;
  font-weight: var(--fw-black);
  margin-top: 0.5rem;
  color: var(--dark-blue);
}

.description {
  margin-top: 1.4rem;
  color: var(--desaturated-blue);
}

.pricing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-block: 2rem;
  padding: 1.4rem;
  border-radius: 1rem;
  background-color: var(--very-pale-blue);
}

.plan {
  display: flex;
  align-items: center;
}

.plan__info {
  color: var(--dark-blue);
  margin-left: 1.3rem;
}

.plan__heading {
  font-weight: var(--fw-black);
}

.plan__price {
  color: var(--desaturated-blue);
}

.plan__change {
  font-weight: var(--fw-bold);
  opacity: 0.85;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.plan__change:hover {
  opacity: 0.5;
  text-decoration: none;
}

.payment-btn,
.cancel-btn {
  width: 100%;
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  border: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.payment-btn {
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  border-radius: 1rem;
  color: var(--white);
  background-color: var(--bright-blue);
  box-shadow: 0.4rem 1rem 0.8rem var(--pale-blue);
}

.payment-btn:hover {
  opacity: 0.65;
}

.cancel-btn {
  color: var(--desaturated-blue);
  background-color: transparent;
}

.cancel-btn:hover {
  color: var(--dark-blue);
}

.attribution {
  text-align: center;
  padding-block: 1.5rem;
}

.attribution a {
  color: var(--bright-blue);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.attribution a:hover {
  opacity: 0.7;
}

/* Utilities */
.wrapper {
  padding-inline: 2rem;
}

/* Desktop */
@media (min-width: 50em) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }

  .payment-btn,
  .cancel-btn {
    font-size: 1rem;
  }
}
