:root {
  /* Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);

  /* Font families */
  --ff-primary: "Red Hat Display", sans-serif;

  /* Font weights */
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

/* CSS Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

/* Mainstyle */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: var(--ff-primary);
  line-height: 1.6;
  padding-inline: 2rem;
  background-color: var(--pale-blue);

  /* background: url(./images/pattern-background-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.card {
  max-width: 450px;
  text-align: center;
  border-radius: 1.5rem;
  background-color: var(--white);
}

.content {
  padding: 45px;
  box-shadow: 0.1rem 0.1rem 1rem var(--pale-blue);
}

.card-img {
  border-radius: 1.5rem 1.5rem 0 0;
}

.heading {
  font-size: 28px;
  font-weight: var(--fw-black);
  color: var(--dark-blue);
}

.description {
  color: var(--desaturated-blue);
}

.pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  border-radius: 1rem;
  background-color: var(--very-pale-blue);
}

.plan {
  display: flex;
  align-items: center;
}

.plan-info {
  color: var(--dark-blue);
  margin-left: 1rem;
}

.plan-heading {
  font-weight: var(--fw-black);
}

.plan-price {
  color: var(--desaturated-blue);
}

.plan-change {
  font-weight: var(--fw-bold);
}

.plan-change:hover {
  opacity: 0.6;
  text-decoration: none;
}

.payment-btn,
.cancel-btn {
  width: 100%;
  font-size: 15px;
  font-weight: var(--fw-black);
  border: none;
  cursor: pointer;
}

.payment-btn {
  margin-block: 2rem;
  padding: 1.2rem;
  border-radius: 1rem;
  color: var(--white);
  background-color: var(--bright-blue);
  box-shadow: 0.4rem 1rem 0.8rem var(--pale-blue);
}

.payment-btn:hover {
  opacity: 0.6;
}

.cancel-btn {
  color: var(--desaturated-blue);
  background-color: transparent;
}

.cancel-btn:hover {
  color: var(--dark-blue);
}

.attribution {
  text-align: center;
  padding-block: 1.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
